* > * {
	padding: 0;
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
}
.header {
	background: rgb(52, 55, 54);
	height: 54px;
	width: 100%;
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: center;
}
.header h1 {
	color: rgb(211, 155, 70);
	padding-left: 20px;
	flex: 0 0 auto;
	align-self: flex-start
}
.header button {
	flex: 0 0 auto;
	align-self: flex-end;
	outline: none;
	background: rgb(211, 155, 70);
	border: 1px solid #333;
	border-radius: 5px;
	color: #fff;
	padding: 10px 20px;
	font-size: 14px;
	font-weight: bold;
	margin-right: 20px;
	cursor: pointer;
}
.container {
	display: flex;
  height: calc(100% - 55px);
}
div.container section.blueprints {
	background: rgb(77, 82, 80);
  overflow: auto;
	color: rgb(164, 168, 166);
	flex: 0 0 250px;
	height: 100%;
	padding-top: 20px;
	box-sizing: border-box;
}
.blueprints h2 {
	font-size: 14px;
	font-weight: bold;
	padding-left: 20px;
	padding-bottom: 20px;
}
#blueprintlist {
	list-style: none;
  margin-bottom: 20px;
}
section.blueprints li {
	line-height: 26px;
	font-size: 16px;
	padding-left: 20px;
	cursor: pointer;
}
section.blueprints li:hover {
	background: rgb(71, 76, 73);
}
section.blueprints li.active {
	background: rgb(211, 155, 70);
  color: #fff;
}

div.container section.children {
  flex: 1;
  height: 100%;
}
section.children h2 {
  padding: 20px;
}
section.children #childlist {
  list-style: none;
  padding: 20px;
}
section.children #childlist button {
  outline: none;
  background: rgb(211, 155, 70);
  border: 1px solid rgb(211, 155, 70);
  border-radius: 5px;
  color: #fff;
  font-size: 16px;
  margin-right: 40px;
  max-width: 300px;
  padding: 0 20px;
  height: 40px;
  border: 0;
  cursor: pointer;
  margin-top: 80px;
}
section.children #childlist input {
  margin-right: 20px;
}



.popover {
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
}
.popover .pop-content-container {
  flex: 1 1 100%;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
}
.popover .pop-content-container .modal {
  max-width: 670px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  background-clip: padding-box;
  box-shadow: 0 15px 30px 6px rgba(0, 0, 0, 0.4);
  overflow: hidden;
  width: 75%;
  color: #595959;
  background: #fff;
  padding: 30px;
}
.popover .pop-content-container .modal h2 {
  margin: 20px 0;
  font-family: 'arial';
  margin-bottom: 0;
}
.popover .pop-content-container .modal .subheading {
  margin-bottom: 40px;
  font-size: 14px;
  font-family: 'arial';
}
.popover .pop-content-container .modal button {
  outline: none;
  background: rgb(211, 155, 70);
  color: #fff;
  font-size: 16px;
  margin-right: 40px;
  width: 180px;
  height: 40px;
  border: 0;
  cursor: pointer;
}
.popover .pop-content-container .modal button#save {
  float: left;
}
.popover .pop-content-container .modal button#cancel {
  float: right;
}
.popover .pop-content-container .modal .error {
  font-size: 22px;
  font-family: 'arial';
}
.spinner {
  height: 200px;
  flex: 0 0 200px;
  -webkit-animation-name: rotate;
  -webkit-animation-duration: 1.5s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -webkit-transform: rotate(360deg);
}
@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}